body{
    font-family: 'Montserrat', sans-serif;
}

#main-head h1{
   text-align: center;
   margin-top: 1%;
   margin-bottom: 1px;
   padding-top: 2%;
   height: 100px;
   width: 99.5%;
   
   font-weight: 200;
   font-size: 4em;
   text-shadow: 3px 10px 10px #aaa;
   background-color: whitesmoke;
   border: burlywood 3px solid;
   box-shadow: 0px 5px 50px #aaa;
   
}

.tops{
    display: flex;
}

#latest{
    flex: 0 0 50%;
    height: 300px;
    width: 600px;
    border: burlywood 1px solid;
    /* box-shadow: 0px 5px 50px #aaa; */
    
}

#top-vendors{
    flex: 1; 
    height: 300px;
    width: 600px;
    border: burlywood 1px solid;
    /* box-shadow: 0px 5px 50px #aaa; */
}